@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$main_font: "Inter", sans-serif;


// Colores

$green:#4CB8B3;
$rose: #F53756;
$yellow: #fdda00;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;
$border:  #4f4f4f;
$gray: #c1c1c1;
$lightblack: #333333;
$blue: #1e90ff;
$button: #1a1a1a;
$darkgray: #3c4043;
$box-shadow: 0px 4px 20px rgba(3,3,3,0.1);


// Media Queries

$smartphone: 425px;
$tablet: 768px;
$desktop: 1440px;
$desktopXL: 2560px;

//
